{% extends 'login_registration/base.html' %}

{% block content %}
    <div class="container">
        <div class="welcome_message">
            <h3>Welcome to the Book-Review App</h3>
            <p>We'er going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
            <input type="submit" class="btn btn-primary" value="Start">
        </div>
        <div class="functionality">
            <h4>Authors</h4>
            <p>Add Authors you are interested in and give a berief review on their book.</p>
        </div>
        <div class="functionality">
            <h4>Review Books</h4>
            <p>Give a review for the books listed in the app and get a suggestioin which book to read for your spare time</p>
        </div>
        <div class="functionality">
            <h4>Sign Up</h4>
            <p>Register and be part of our world and enjoy the reading. You will benefit from the comments given by others.</p>
        </div>
    </div>
{% endblock content %}